.item-add-form{
    display: inline-block;
    width: 100%;
}

.todo-input{
    width: 60%;
    padding: 5px 10px 5px 40px;
    font-size: 24px;
    outline: none;
    border: none;
}

.todo-input-min{
    width: 20%;
    padding: 5px 10px 5px 40px;
    font-size: 24px;
    outline: none;
    border: none;
    border-left: 1px solid rgb(213, 213, 213);
}
.todo-input-sec{
    width: 20%;
    padding: 5px 10px 5px 40px;
    font-size: 24px;
    outline: none;
    border: none;
    border-left: 1px solid rgb(213, 213, 213);
}